acora==1.8
androguard==2.0
apt-xapian-index==0.45
argh==0.26.2
backports-abc==0.5
backports.ssl-match-hostname==3.5.0.1
BeautifulSoup==3.2.1
beautifulsoup4==4.2.1
bitstring==3.1.5
blinker==1.4
bottle==0.12.11
brotlipy==0.6.0
cached-property==1.3.0
capstone==2.1
certifi==2016.9.26
cffi==1.9.1
chardet==2.3.0
click==6.6
click-plugins==1.0.3
codegen==1.0
colorama==0.3.7
ConfigArgParse==0.11.0
configobj==4.7.2
configparser==3.3.0.post2
construct==2.5.3
cryptography==1.7.1
cssutils==1.0.1
cybox==2.1.0.13
decorator==3.4.0
distorm3==3.3.4
dnspython==1.15.0
docker-compose==1.9.0
docker-py==1.10.6
docker-pycreds==0.2.1
dockerpty==0.4.1
docopt==0.6.2
dpkt==1.6
easygui==0.96
EditorConfig==0.12.1
enum34==1.1.6
feedparser==5.1.3
Flask==0.11.1
Flask-Sockets==0.1
floss==1.3.0
functools32==3.2.3.post2
funcy==1.7.1
future==0.15.2
fuzzywuzzy==0.14.0
gevent==1.0.2
gevent-websocket==0.9.5
greenlet==0.4.7
h2==2.4.2
hachoir-core==1.3.3
hachoir-metadata==1.3.3
hachoir-parser==1.3.4
hachoir-regex==1.0.5
hachoir-subfile==0.5.3
hachoir-urwid==1.1
hachoir-wx==0.3
hpack==2.3.0
html2text==2016.9.19
html5lib==0.999999
httplib2==0.8
hyperframe==4.0.1
idna==2.2
InlineEgg==1.8
intervaltree==2.1.0
ioc-writer==0.1.1
iocp==0.9.0
ipaddr==2.1.11
ipaddress==1.0.17
ipwhois==0.14.0
IPy==0.81
ipython==3.2.1
isodate==0.5.1
itsdangerous==0.24
Jinja2==2.8.1
joblib==0.7.1
jsbeautifier==1.6.4
jsonschema==2.5.1
Landscape-Client==14.12
lxml==4.9.1
M2Crypto==0.21.1
Magic-file-extensions==0.2
MarkupSafe==0.23
mastiff==0.7.1
matplotlib==1.3.1
mercurial==2.8.2
mitmproxy==0.18.3
mixbox==1.0.1
mwcp==1.0.0
ndg-httpsclient==0.4.2
netlib==0.12.1
networkx==1.8.1
nose==1.3.1
numpy==1.8.2
officedissector==1.0
olefile==0.43
ordered-set==2.0.1
PAM==0.4.2
passivetotal==1.0.28
passlib==1.6.5
pathtools==0.1.2
pbkdf2==1.3
pdfminer==20140328
pefile==1.2.10.post0
peframe==4.2
pexpect==3.1
Pillow==3.4.2
plugnplay==0.5.2
poster==0.8.1
prettytable==0.7.2
py-pypcap==1.1.2
PyAFF4==0.13
pyasn1==0.1.9
pycparser==2.17
pycrypto==2.6.1
pydasm==1.5
pydeep==0.2
pydot==1.0.28
pyelftools==0.24
pyenchant==1.6.5
PyExifTool==0.1
pyfuzzy==0.1.1
pygeoip==0.3.2
Pygments==1.6
pygobject==3.12.0
pygraphviz==1.2
pylibemu==0.2.6
pylzma==0.4.8
pyOpenSSL==16.2.0
pyparsing==2.1.10
PyPDF2==1.25.1a0
pypdns==1.3
pype32==0.1a4
pyperclip==1.5.27
pypssl==2.1
pyserial==2.6
pysqlite==1.0.1
python-apt===0.9.3.5ubuntu1
python-dateutil==2.6.0
python-debian===0.1.21-nmu2ubuntu2
python-Levenshtein==0.11.2
python-magic==0.4.15
python-ptrace==0.6.4
python-socksipy==1.0
pytz==2015.4
PyV8==1.0.dev0
pyxdg==0.25
PyYAML==3.12
q==2.6
r2pipe==0.8.8
rarfile==3.0
rdflib==4.2.0
requesocks==0.10.8
requests==2.11.1
requests-cache==0.4.13
rule-editor==1.0.0
scikit-learn==0.14.1
scipy==0.13.3
shodan==1.6.3
simplegeneric==0.8.1
simplejson==3.10.0
singledispatch==3.4.0.3
six==1.10.0
sortedcontainers==0.9.6
SPARQLWrapper==1.6.4
SQLAlchemy==0.8.4
ssdeep===2.0-0.1
ssh-import-id==3.21
tabulate==0.7.5
texttable==0.8.7
tornado==4.4.2
Twisted-Core==13.2.0
typing==3.5.2.2
urllib3==1.7.1
urwid==1.3.1
uTidylib==0.2
viv-utils==0.3.5
vivisect==0.0.0
volatility==2.6
vt==1.0.7.8
watchdog==0.8.3
weakrefmethod==1.0.3
websocket-client==0.40.0
Werkzeug==0.11.15
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xortool==0.95
Yapsy===1.10.2-pythons2n3
yara-python==3.2.0
zope.interface==4.0.5
